.app-header {
    max-width: 785px;

    .app-subtitle {
        margin: 0 0 0 60px;
        padding:0;
        vertical-align: middle
    }

    img {
        max-width: 100%;
        width: 100%;
    }
}

.app-logo {
    position: relative
}